.header {
  height: 150px;
  width: 100vw;
  background-color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1;
  -webkit-text-size-adjust: 100%;
}
.header_title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.header_menu {
  text-align: center;
  
}

.header_title_logo {
  width: 170px;
  height: auto;
}

.menu_icon_top{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}
.menu_icon_news{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}
.menu_icon_profile{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}
.menu_icon_gallery{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}
.menu_icon_shop{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}
.menu_icon_contact{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}
.menu_icon_twitter{
  margin-left: 30px;
  margin-right: 30px;
  height: 27px;
  width: auto;
}

